{% extends "books/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">New Message</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Message</h3>
        <form id="compose-form">
            
            <div class="form-group msn">
                To: <input id="compose-recipients" class="form-control msn">
            </div>
            <textarea class="form-control msn" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}

